{% extends 'base.html' %}
{% block content %}

<div class="container">
  <div class="platform-list-header">
    <h1>Platform List</h1>
    <a class="btn-floating btn blue modal-trigger pulse" href="#addPlatformModal" style="margin-top: 20px;"><i
        class="material-icons">add</i></a>
  </div>
  <!-- add modal -->
  <div class="modal" id="addPlatformModal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="modal-close btn-floating btn-small blue waves-effect" id="closePlatformModal">
          <span>&#10006;</span>
        </button>
        <h4 class="modal-title">Add Platform</h4>
      </div>
      <form action="{% url 'platformscontent_create' %}" method="POST">
        <div class="modal-body" id="platform-modal-body">
          {% csrf_token %}
          {% for field in PlatformForm %}
            <div class="input-field">
              {{ field.errors }}
              <label for="id_{{ field.name }}">{{ field.label }} <span style="color:red;">*</span></label> {{ field }}
            </div>
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-floating btn-large blue waves-effect waves-light" type="submit" id="submitPlatformModal"><i class="material-icons">save</i></button>
        </div>
      </form>
    </div>
  </div>

  <hr>

  {% if platformcontent_list.count %}
    <div class="row">
      {% for platformContent in platformcontent_list %}
        <div class="col s4">
          <div class="card">
            <div class="card-content">
              <span class="card-title" style="font-weight:bold;">{{ platformContent.name }}</span>
              <a href="{{ platformContent.url }}" target="_blank">{{ platformContent.url|linebreaks }}</a>
            </div>
            <div class="card-action">
              <a class="btn-floating waves-effect waves-light blue" href={% url 'platformscontent_detail' platformContent.id %}><i class="material-icons">details</i></a>
              <a class="modal-trigger btn-floating waves-effect waves-light blue" href="#editPlatformModal_{{ platformContent.id }}" type="submit"><i class="material-icons">edit</i></a>
              <a class="modal-trigger btn-floating waves-effect blue" href="#deletePlatformModal_{{ platformContent.id }}"><i class="material-icons">delete</i></a>
            </div>
          </div>
        </div>
        <!-- edit modal -->
        <div class="modal editPlatformModal" id="editPlatformModal_{{ platformContent.id }}">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="modal-close btn-floating btn-small waves-effect blue" id="closePlatformModal">
                <span>&#10006;</span>
              </button>
              <h4 class="modal-title">Edit <span class="blue-text">{{ platformContent.name }}</span></h4>
            </div>
            <form action="{% url 'platforms_form' platformContent.id %}" method="POST">
              <div class="modal-body" id="platform-modal-body">
                {% csrf_token %}
                {% for field in PlatformForm %}
                  <div class="input-field">
                    {{ field.errors }}
                    <label for="id_{{ field.name }}">{{ field.label }} <span style="color:red;">*</span></label>
                    {% if field.name == "name" %}
                      <input type="text" name="{{ field.name }}" maxlength="50" required id="id_{{ field.name }}" value="{{ platformContent.name }}">
                    {% elif field.name == "url" %}
                      <input type="url" name="{{ field.name }}" maxlength="100" required="" id="id_{{ field.name }}" value="{{ platformContent.url }}">
                    {% elif field.name == "platform_username" %}
                      <input type="text" name="{{ field.name }}" maxlength="50" id="id_{{ field.name }}" value="{{ platformContent.platform_username }}">
                    {% endif %}
                  </div>
                {% endfor %}
              </div>
              <div class="modal-footer">
                <button class="btn btn-primary btn-floating btn-large blue waves-effect waves-light" type="submit" id="submitPlatformModal"><i class="material-icons">save</i></button>
              </div>
            </form>
          </div>
        </div>
        <!-- delete modal -->
        <div class="modal deletePlatformModal" id="deletePlatformModal_{{ platformContent.id }}">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="modal-close btn-floating btn-small waves-effect blue" id="closePlatformModal">
                <span>&#10006;</span>
              </button>
              <h4 class="modal-title">Delete <span class="blue-text">{{ platformContent.name }}</span></h4>
            </div>
            <form action="{% url 'platformscontent_delete' platformContent.id %}" method="POST">
              <div class="modal-body">
                <h5>Are you sure you want to delete <span class="blue-text">{{ platformContent.name }}</span>?</h5>
                {% csrf_token %}
              </div>
              <div class="modal-footer">
                <button type="submit" class="btn waves-effect waves-light blue">Yes - Delete!</button>
                <a class="modal-close">Cancel</a>
              </div>
            </form>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <h5>Click <button class="btn btn-floating btn-small blue modal-trigger" href="#addPlatformModal"><i
          class="material-icons">add</i></button> to add a new platform! 👾</h5>
  {% endif %}
</div>
{% endblock %}