html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.rounded {
  border-radius: 10px;
}

.rounded-sm {
  border-radius: 5px;
}

.icon {
  height: 20px;
  width: 20px;
  display: block;
  /* Other styles here */
}

.errorlist, .red-text {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: rgba(255, 0, 0, 0.54);
}

.helptext {
  position: relative;
  min-height: 18px;
  display: block;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.nav-wrapper {
  padding-left: 15px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255, 255, 255, .9);
}

.parallax-text {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.parallax-img {
  filter: brightness(80%);
}

.carousel {
  color: rgba(255, 255, 255, .9);
}

.carousel-img {
  filter: brightness(80%);
}

#logo {
  height: 4rem;
}

.deal-list-header, .platform-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deal-header-switches {
  display: flex;
}

.list-switch, .paid-switch, .done-switch {
  padding-right: 25px;
  top: 75%;
  transform: translateY(25%);
}

@media (max-width: 600px) {
  .deal-header-switches {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .list-switch, .paid-switch, .done-switch {
    padding-right: 25px;
    top: 75%;
    transform: translateY(25%);
  }

  .switch-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .switch-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
  }
}

.platform-cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.platform-cards-left {
  margin-left: -15px;
}

.platform-cards-right {
  margin-right:-15px;
}

.card .card-action {
  display: flex;
  justify-content: space-evenly;
}

.deals-emoji {
  cursor: default;
  font-size: 30px;
  padding-right: 5px;
}

#addDealModal, .editDealModal {
  max-height: 100%;
  max-width: 50%;
}

.deleteDealModal, .deletePlatformModal {
  max-width: 25%;
}

#submitDealModalBtn {
  margin-right: -5px;
}

#addPlatformModal, .editPlatformModal {
  max-width: 25%;
}

#platform-modal-body>.input-field>input:focus {
  border-bottom: 1px solid #2196f3 !important;
  box-shadow: 0 1px 0 0 #2196f3 !important;
}

.deal-table {
  table-layout: fixed;
}

.deal-table th, td {
  padding: 0px 5px;
}

.deal-table td {
  text-align: right;
  word-wrap: break-word;
}

.platform-table th,
td {
  padding: 0px 5px;
}

.platform-table td {
  text-align: right;
}

.activity-notes {
  word-wrap: break-word;
  white-space: normal;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
}

.highcharts-figure,
.highcharts-data-table table {
  min-width: 320px;
  max-width: 800px;
  margin: 1em auto;
}

.highcharts-data-table table {
  font-family: Verdana, sans-serif;
  border-collapse: collapse;
  border: 1px solid #ebebeb;
  margin: 10px auto;
  text-align: center;
  width: 100%;
  max-width: 500px;
}

.highcharts-data-table caption {
  padding: 1em 0;
  font-size: 1.2em;
  color: #555;
}

.highcharts-data-table th {
  font-weight: 600;
  padding: 0.5em;
}

.highcharts-data-table td,
.highcharts-data-table th,
.highcharts-data-table caption {
  padding: 0.5em;
}

.highcharts-data-table thead tr,
.highcharts-data-table tr:nth-child(even) {
  background: #f8f8f8;
}

.highcharts-data-table tr:hover {
  background: #f1f7ff;
}