{% extends 'base.html' %} {% block content %}
{% load static %}

  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img class="carousel-img" src="{% static 'images/carousel/carousel1.png' %}"></a>
    <a class="carousel-item" href="#two!"><img class="carousel-img" src="{% static 'images/carousel/carousel2.png' %}"></a>
    <a class="carousel-item" href="#three!"><img class="carousel-img" src="{% static 'images/carousel/carousel3.png' %}"></a>
    <a class="carousel-item" href="#four!"><img class="carousel-img" src="{% static 'images/carousel/carousel4.png' %}"></a>
    <a class="carousel-item" href="#five!"><img class="carousel-img" src="{% static 'images/carousel/carousel5.png' %}"></a>
  </div>
  <div class="container">
    <h2 class="header center teal-text text-lighten-2" style="margin-top:10px;">About Us</h2>
    <div class="col s12">
      <p>At CreatorWallet, we are dedicated to simplifying and enhancing your deal management experience. Our all-in-one solution
      takes care of the complexities, offering an effortlessly integrated platform for seamless deal creation, reading,
      updating, and deletion. With our user-friendly reporting dashboard, you can effortlessly track the progress of your
      deals through clear graphical representations. Our mission is to prioritize your needs and ensure a smooth onboarding
      process. We value your feedback and continuously work to improve CreatorWallet, making it the perfect tool for your deal
      management needs. Join us on this journey, and together, we'll achieve greater success and efficiency in managing your
      deals.</p>
    </div>
    <br>
    <hr>
    <br>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s6 left-align">
            <img src="{% static 'images/profile/kenney_profile.jpeg' %}" alt="" class="circle responsive-img">
          </div>
          <div class="col s6 right-align">
            <span class="black-text">
              <h5>Kenney Chan</h5>
              <hr>
              <p>Welcome to my world of software engineering! I am a passionate and dedicated developer with a deep love for creating
              products that leave a lasting impact on users. Through innovative solutions and user-centric designs, I strive to craft
              applications that people not only enjoy using but also find indispensable in their daily lives. Join me on this exciting
              journey as we build remarkable products together.</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s6 left-align">
            <span class="black-text">
              <h5>Calvin Hsu</h5>
              <hr>
              <p>As an avid gamer, streamer, and content creator, I've always been drawn to the digital realm. This deep interest in
              gaming and content creation has led me to create this app, where my goal is to assist and empower individuals with
              similar interests by providing a tailored solution that caters specifically to their needs. With this platform, my
              mission is to provide extraordinary user experiences while simplifying and enhancing the management of deals. Together,
              let's embark on this exciting journey, making a lasting impact in the world of digital content and gaming. Thank you for
              joining me in this endeavor!</p>
            </span>
          </div>
          <div class="col s6 right-align">
            <img src="{% static 'images/profile/calvin_profile.jpg' %}" alt="" class="circle responsive-img">
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s6 left-align">
            <img src="{% static 'images/profile/darius_profile.jpg' %}" alt="" class="circle responsive-img">
          </div>
          <div class="col s6 right-align">
            <span class="black-text">
              <h5>Darius Bowser</h5>
              <hr>
              <p>I've always been captivated by the potential of the digital landscape. This intrinsic fascination has motivated me to
              develop an app with the aim of assisting and empowering individuals who have faced similar situations. Your involvement
              in this endeavor is deeply appreciated, and I extend my sincere gratitude for being a part of it!</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
