{% extends '../base.html' %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col s12 m12 l6 xl4 offset-xl4 offset-l3 center-align">
      <h2>Log In</h2>
      <span>Doesn't have an account yet? <a href="{% url 'signup' %}"><b>Sign Up</b></a></span>
      <!-- Add the login form -->
      <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        {% for field in form %}
        <div class="input-field">
          {{ field.errors }}
          <label for="id_{{ field.name }}">{{ field.label }}</label> {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn col s12">Log In</button>
      </form>
    </div>
  </div>
</div>
<br />

{% endblock %}
