{% extends 'base.html' %} {% block content %}
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img class="carousel-img" src="../static/images/carousel1.png"></a>
    <a class="carousel-item" href="#two!"><img class="carousel-img" src="../static/images/carousel2.png"></a>
    <a class="carousel-item" href="#three!"><img class="carousel-img" src="../static/images/carousel3.png"></a>
    <a class="carousel-item" href="#four!"><img class="carousel-img" src="../static/images/carousel4.png"></a>
    <a class="carousel-item" href="#five!"><img class="carousel-img" src="../static/images/carousel5.png"></a>
  </div>
  <div class="container">
    <h2 class="header center teal-text text-lighten-2">About Us</h2>
    
  </div>
{% endblock %}
