{% extends 'base.html' %} {% block content %}
{% load static %}

  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img class="carousel-img" src="{% static 'images/carousel/carousel1.png' %}"></a>
    <a class="carousel-item" href="#two!"><img class="carousel-img" src="{% static 'images/carousel/carousel2.png' %}"></a>
    <a class="carousel-item" href="#three!"><img class="carousel-img" src="{% static 'images/carousel/carousel3.png' %}"></a>
    <a class="carousel-item" href="#four!"><img class="carousel-img" src="{% static 'images/carousel/carousel4.png' %}"></a>
    <a class="carousel-item" href="#five!"><img class="carousel-img" src="{% static 'images/carousel/carousel5.png' %}"></a>
  </div>
  <div class="container">
    <h2 class="header center teal-text text-lighten-2" style="margin-top:10px;">About Us</h2>
    <div class="col s12">
      <p>Nunc imperdiet dolor lectus, vel molestie eros ultrices non. Sed quis tempus lectus. Etiam varius, lorem eu vehicula
      pharetra, ante eros tristique leo, ac eleifend mauris dui nec nibh. Suspendisse potenti. Etiam eu sem augue. Praesent
      sollicitudin risus non lectus molestie interdum. Mauris venenatis ipsum eu libero ullamcorper suscipit. Cras ac justo
      vitae est tempor efficitur. Praesent elementum ligula nec eros consectetur, sit amet ultrices lacus dignissim. Mauris
      venenatis rhoncus lorem ac sollicitudin.</p>
    </div>
    <br>
    <hr>
    <br>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s6 left-align">
            <img src="{% static 'images/profile/kenney_profile.jpeg' %}" alt="" class="circle responsive-img">
          </div>
          <div class="col s6 right-align">
            <span class="black-text">
              <p>Curabitur in metus in mauris vulputate pretium. Aenean tincidunt nibh id facilisis lacinia. Nullam hendrerit ultrices
              sodales. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec id tortor non
              urna rutrum porttitor non ac diam. Donec mollis ultrices elementum. Suspendisse viverra nisi odio, quis commodo augue
              tristique vel. Mauris feugiat ultricies dui, id rutrum mauris maximus id.</p>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s6 left-align">
            <span class="black-text">
              <p>Nulla rutrum sem non finibus porttitor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla mollis nisi
              at risus malesuada, in dictum nulla maximus. Pellentesque nulla nisi, accumsan eget leo non, rhoncus porta elit. Nulla
              ut enim sit amet nibh ornare commodo. In neque dui, facilisis eget ante a, scelerisque sagittis lectus. Nam dictum
              ligula facilisis malesuada porttitor. Praesent imperdiet eget mi rutrum fermentum.</p>
            </span>
          </div>
          <div class="col s6 right-align">
            <img src="{% static 'images/profile/calvin_profile.jpg' %}" alt="" class="circle responsive-img">
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1 hoverable">
        <div class="row valign-wrapper">
          <div class="col s6 left-align">
            <img src="{% static 'images/profile/darius_profile.jpg' %}" alt="" class="circle responsive-img">
          </div>
          <div class="col s6 right-align">
            <span class="black-text">
              <p>Vivamus eleifend mollis diam, quis condimentum nibh porttitor vitae. Donec consequat est nec porttitor semper. Sed vitae
              interdum purus. Proin nec ipsum nec sapien efficitur vehicula. Vestibulum sollicitudin ac elit ac feugiat. Duis at augue
              vehicula, accumsan massa sed, placerat ante. Mauris pretium orci et vestibulum condimentum. Cras dignissim risus ut
              maximus venenatis. Pellentesque sagittis lorem ante, eu porta leo elementum ut.</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
