{% extends 'base.html' %} {% block content %}
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img class="carousel-img" src="../static/images/carousel1.png"></a>
    <a class="carousel-item" href="#two!"><img class="carousel-img" src="../static/images/carousel2.png"></a>
    <a class="carousel-item" href="#three!"><img class="carousel-img" src="../static/images/carousel3.png"></a>
    <a class="carousel-item" href="#four!"><img class="carousel-img" src="../static/images/carousel4.png"></a>
    <a class="carousel-item" href="#five!"><img class="carousel-img" src="../static/images/carousel5.png"></a>
  </div>
  <div class="container">
    <h2 class="header center teal-text text-lighten-2">About Us</h2>
    <div class="col s12">
      Nunc imperdiet dolor lectus, vel molestie eros ultrices non. Sed quis tempus lectus. Etiam varius, lorem eu vehicula
      pharetra, ante eros tristique leo, ac eleifend mauris dui nec nibh. Suspendisse potenti. Etiam eu sem augue. Praesent
      sollicitudin risus non lectus molestie interdum. Mauris venenatis ipsum eu libero ullamcorper suscipit. Cras ac justo
      vitae est tempor efficitur. Praesent elementum ligula nec eros consectetur, sit amet ultrices lacus dignissim. Mauris
      venenatis rhoncus lorem ac sollicitudin.
    </div>
    <br>
    <hr>
    <br>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s6">
            <img src="../static/images/kenney_profile.jpeg" alt="" class="circle responsive-img">
          </div>
          <div class="col s6">
            <span class="black-text">
              This is a square image. Add the "circle" class to it to make it appear circular.
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s6">
            <span class="black-text">
              This is a square image. Add the "circle" class to it to make it appear circular.
            </span>
          </div>
          <div class="col s6">
            <img src="../static/images/calvin_profile.jpg" alt="" class="circle responsive-img">
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
          <div class="col s6">
            <img src="../static/images/calvin_profile.jpg" alt="" class="circle responsive-img">
          </div>
          <div class="col s6">
            <span class="black-text">
              This is a square image. Add the "circle" class to it to make it appear circular.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
