{% extends 'base.html' %} {% block content %}
{% load static %}

<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text text-lighten-2">CreatorWallet</h1>
      <div class="row center">
        <h5 class="header col s12 light">A smart way to keep track of your deals!</h5>
      </div>
      <div class="row center">
        <a href="{% url 'index' %}"
          class="btn-large waves-effect waves-light teal lighten-1 rounded">Get Started</a>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax"><img class="parallax-img" src="{% static 'images/parallax/parallax1.jpg' %}" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Streamline deals management</h5>

          <p class="light">We've meticulously handled the complexities, offering you an effortlessly integrated, all-in-one
          solution to efficiently manage your deals. With our user-friendly reporting dashboard showcasing vivid graphical
          representations, tracking the progress of your deals has never been smoother or more intuitive.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">group</i></h2>
          <h5 class="center">User Experience Focused</h5>

          <p class="light">By prioritizing a user-centric approach, we have designed an app that significantly enhances the ease of Creating,
          Reading, Updating, and Deleting your deals and platforms. With just a few intuitively designed pages, you can perform
          all CRUD actions effortlessly. Furthermore, our system boasts a responsive design that ensures a cohesive and seamless
          user experience across all pages.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
          <h5 class="center">Easy to work with</h5>

          <p class="light">Getting started with the app is incredibly straightforward, ensuring a smooth onboarding process. We highly value user
          feedback and are always open to hearing your thoughts and suggestions. Feel free to reach out to us with any questions
          you may have about CreatorWallet, and our team will be more than happy to assist you. Your input helps us continually
          improve the app for an even better user experience.</p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="">
      <div class="row center">
        <h5 class="header col s12 light parallax-text">An all-in-one solution to efficiently CRUD your deals</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img class="parallax-img" src="{% static 'images/parallax/parallax2.jpg' %}" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Mission</h4>
        <p class="left-align light">Our mission is to provide you with an unparalleled user-centric experience. We've meticulously crafted
        an all-in-one solution, streamlining the complexities of deal management with an effortlessly integrated platform. With
        our intuitive design and user-friendly reporting dashboard, tracking the progress of your deals becomes smoother and
        more intuitive than ever before. We prioritize your ease in Creating, Reading, Updating, and Deleting deals, all within
        a few intuitively designed pages. Our responsive system ensures a cohesive experience across every interaction. We are
        dedicated to a seamless onboarding process, making it incredibly straightforward to get started. Your feedback is
        invaluable to us, as we strive to continuously improve and tailor CreatorWallet to meet your needs. Our team is always
        here for you, ready to answer any questions and listen to your thoughts and suggestions, to create an even better user
        experience.</p>
      </div>
    </div>
  </div>
</div>

<div class="parallax-container">
  <div class="section no-pad-bot">
    <div class="">
      <div class="row center">
        <h5 class="header col s12 light parallax-text">User-centric approach, our team is here for you</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img class="parallax-img" src="{% static 'images/parallax/parallax3.jpg' %}" alt="Unsplashed background img 3"></div>
</div>

{% endblock %}
