{% extends 'base.html' %} {% block content %}
<div class="container">
  <h2>Deal Details</h2>

  <nav>
    <div class="nav-wrapper teal">
      <div class="col s12">
        <a href="{% url 'index' %}" class="breadcrumb">All Deals</a>
        <a href="" class="breadcrumb" style="pointer-events: none;">{{ deal.name }}</a>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col s4">
      <div class="row">
        <div class="card hoverable">
          <div class="card-content">
            <span style='font-size:30px; float:right;'>
              {% if deal.done %}
                ✔️
              {% else %}
                🚧
              {% endif %}
            </span>
            <span class="card-title" style="font-weight: bold">{{ deal.name }}</span>
            <hr>
            <table class="striped deal-table">
              <tr>
                <th style="width: 30%;">Amount</th>
                <td>{{ deal.amount }}</td>
              </tr>
              <tr>
                <th>Campaign Url</th>
                <td class="truncate"><a href="{{ deal.url }}" target="_blank">{{ deal.url }}</a></td>
              </tr>
              <tr>
                <th>Promo code</th>
                <td>{{ deal.promo_code }}</td>
              </tr>
              <tr>
                <th>Due date</th>
                <td>{{ deal.due_date }}</td>
              </tr>
              <tr>
                <th>Details</th>
                <td>{{ deal.details|linebreaks }}</td>
              </tr>
            </table>
            <small style="float:right;">Created on: {{ deal.created_date}}</small>
          </div>
          <div class="card-action">
            <a class="modal-trigger btn-floating waves-effect waves-light" href="#editDealModal_{{ deal.id }}"><i class="material-icons">edit</i></a>
            <a class="modal-trigger btn-floating waves-effect" href="#deleteDealModal_{{ deal.id }}"><i class="material-icons">delete</i></a>
          </div>
        </div>
        <div class="card hoverable">
          <div class="card-content">
            {% for attachment in deal.attachment_set.all %}
            <li><a href="{{attachment.url}}" download>{{attachment.filename}}</a></li>
            {% empty %}
            <div class="card-panel teal-text center-align">No Attachment Uploaded</div>
            {% endfor %}
          </div>
          <form action="{% url 'add_attachment' deal.id %}" enctype="multipart/form-data" method="POST" class="card-content">
            {% csrf_token %}
            <input type="file" name="attachment-file" />
            <br /><br />
            <button type="submit" class="btn-floating waves-effect waves-light"><i class="material-icons dp48">file_upload</i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="card-panel hoverable">
        <div class="row">
          <div class="col s6">
            <span style="font-weight: bold; font-size: 24px;">{{ deal.name }}'s Platforms</span>
            <hr>
            {% if deal.platforms.count %}
              {% for platform in deal.platforms.all %}
              <div class="card">
                <div class="card-content platform-cards">
                  <span class="platform-cards-left">
                    <b>{{ platform.name }}</b>
                  </span>
                  <form class="platform-cards-right" action="{% url 'unassoc_platform' deal.id platform.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn-floating btn-small waves-effect"><i class="material-icons">remove</i></button>
                  </form>
                </div>
              </div>
              {% endfor %}
            {% else %}
              <b>No platforms 😢</b>
            {% endif %}
          </div>
          <div class="col s6">
            <span style="font-weight: bold; font-size: 24px;">Available Platforms</span>
            <hr>
            {% if platforms.count %}
              {% for platform in platforms.all %}
              <div class="card">
                <div class="card-content platform-cards">
                  <form class="platform-cards-left" action="{% url 'assoc_platform' deal.id platform.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">add</i></button>
                  </form>
                  <span class="platform-cards-right" >
                    <b>{{ platform.name }}</b>
                  </span>
                </div>
              </div>
              {% endfor %}
            {% else %}
              {% if platformcount == 0 %}
                <b>Go <a href="{% url 'platforms_index' %}">here</a> to add platforms!</b>
              {% else %}
                <b>All platforms has been added! 🎉</b>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col s4">
      <div class="row">
        <div class="card hoverable">
          <div class="card-content">
            <span style="font-weight: bold; font-size: 24px;">Timeline</span>
            <form action="{% url 'add_activity' deal.id %}" method="POST">
              {% csrf_token %}
              <!-- Render the inputs -->
              {% for field in activity_form %}
              <div class="input-field">
                <label for="id_{{ field.name }}">{{ field.label }}</label> {{ field }}
              </div>
              {% endfor %}
              <input type="submit" class="btn" value="Add Activity">
            </form>
            <br>
            <ul class="collection">
              {% for activity in deal.activity_set.all %}
                <li class="collection-item">
                  <span class="title"><b>{{ activity.activity }}</b></span>
                  <small>on {{ activity.date }}</small>
                  <a class="secondary-content modal-trigger btn-floating btn-small waves-effect waves-light"
                    href="#deleteActivityModal_{{ deal.id }}_{{activity.id }}"><i class="material-icons">delete</i></a>
                  <br>
                  <p class="activity-notes">{{ activity.notes }}</p>
                </li>
                <!-- delete attachment modal -->
                <div class="modal modal-fixed-foote deleteActivityModal" id="deleteActivityModal_{{ deal.id }}_{{activity.id }}">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="modal-close btn-floating btn-small" id="closeDealModal">
                        <span>&#10006;</span>
                      </button>
                      <h4 class="modal-title">Delete <span class="teal-text">{{ activity.activity }}</span></h4>
                    </div>
                    <form action="{% url 'delete_activity' activity.id %}" method="POST">
                      <div class="modal-body">
                        <h5>Are you sure you want to delete <span class="teal-text">{{ activity.activity }}</span>?</h5>
                        {% csrf_token %}
                      </div>
                      <div class="modal-footer">
                        <input type="submit" value="Yes - Delete!" class="btn">
                        <a class="modal-close">Cancel</a>
                      </div>
                    </form>
                  </div>
                </div>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- edit deal modal -->
  <div class="modal editDealModal" id="editDealModal_{{ deal.id }}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="modal-close btn-floating btn-small teal" id="closeDealModal">
          <span>&#10006;</span>
        </button>
        <h4 class="modal-title">Edit <span class="teal-text">{{ deal.name }}</span></h4>
      </div>
      <form action="{% url 'deals_form' deal.id %}" method="POST">
        <div class="modal-body">
          {% csrf_token %}
          {% for field in DealForm %}
  
          {{ field.errors }}
          {% if field.name == "name" %}
          <div class="input-field">
            <label for="id_{{ field.name }}">{{ field.label }} <span style="color:red;">*</span></label>
            <input type="text" name="{{ field.name }}" maxlength="100" required id="id_{{ field.name }}"
              value="{{ deal.name }}">
          </div>
          {% elif field.name == "amount" %}
          <div class="input-field">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <input type="number" name="{{ field.name }}" step="0.01" id="id_{{ field.name }}" value="{{ deal.amount }}">
          </div>
          {% elif field.name == "url" %}
          <div class="input-field">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <input type="url" name="{{ field.name }}" maxlength="100" id="id_{{ field.name }}" value="{{ deal.url }}">
          </div>
          {% elif field.name == "promo_code" %}
          <div class="input-field">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <input type="text" name="{{ field.name }}" maxlength="100" id="id_{{ field.name }}"
              value="{{ deal.promo_code }}">
          </div>
          {% elif field.name == "due_date" %}
          <div class="input-field">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <input type="text" name="{{ field.name }}" id="id_{{ field.name }}" value='{{ deal.due_date|date:"M j, Y" }}'
              class="datepicker">
          </div>
          {% elif field.name == "details" %}
          <div class="input-field">
            <label for="id_{{ field.name }}">{{ field.label }}</label>
            <textarea name="{{ field.name }}" cols="40" rows="10" maxlength="500" id="id_{{ field.name }}"
              class="materialize-textarea">{{ deal.details }}</textarea>
          </div>
          {% elif field.name == "done" %}
          <label for="id_{{ field.name }}">
            <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}" {% if deal.done %}checked{% endif %}>
            <span>{{ field.label }}</span>
          </label>
          {% else %}
          {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-floating btn-large" type="submit" id="submitDealModalBtn"><i
              class="material-icons">save</i></button>
        </div>
      </form>
    </div>
  </div>
  <!-- delete deal modal -->
  <div class="modal modal-fixed-foote deleteDealModal" id="deleteDealModal_{{ deal.id }}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="modal-close btn-floating btn-small" id="closeDealModal">
          <span>&#10006;</span>
        </button>
        <h4 class="modal-title">Delete <span class="teal-text">{{ deal.name }}</span></h4>
      </div>
      <form action="{% url 'deals_delete' deal.id %}" method="POST">
        <div class="modal-body">
          <h5>Are you sure you want to delete <span class="teal-text">{{ deal.name }}</span>?</h5>
          {% csrf_token %}
        </div>
        <div class="modal-footer">
          <input type="submit" value="Yes - Delete!" class="btn">
          <a class="modal-close">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}