{% extends 'base.html' %} {% block content %}
<div class="container">
  <h2>Deal Details</h2>

  <nav>
    <div class="nav-wrapper teal">
      <div class="col s12">
        <a href="{% url 'index' %}" class="breadcrumb">All Deals</a>
        <a href="" class="breadcrumb" style="pointer-events: none;">{{ deal.name }}</a>
      </div>
    </div>
  </nav>

  <div class="row">
    <div class="col s12 m12 l6 xl4">
      <div class="row">
        <div class="card hoverable rounded">
          <div class="card-content">
            <span class="deals-emoji right">
              {% if deal.done %}
                <span class="tooltipped" data-position="top" data-tooltip="DONE">✔️</span>
              {% else %}
                <span class="tooltipped" data-position="top" data-tooltip="IN PROGRESS">🚧</span>
              {% endif %}
            </span>
            <span class="deals-emoji right">
              {% if deal.merch %}
                <span class="tooltipped" data-position="top" data-tooltip="MERCH">👕</span>
              {% else %}
                <span class="tooltipped" data-position="top" data-tooltip="CASH">💵</span>
              {% endif %}
            </span>
            <span class="deals-emoji left">
              {% if deal.paid %}
                <span class="tooltipped" data-position="top" data-tooltip="PAID">💰</span>
              {% else %}
                <span class="tooltipped" data-position="top" data-tooltip="NOT PAID">⚠️</span>
              {% endif %}
            </span>
            <span class="card-title" style="font-weight: bold; height: 60px;">{{ deal.name }}</span>
            <hr>
            <table class="striped deal-table">
              <tr>
                <th style="width: 30%;">Amount</th>
                <td>{{ deal.amount }}</td>
              </tr>
              <tr>
                <th>Campaign Url</th>
                <td class="truncate"><a href="{{ deal.url }}" target="_blank">{{ deal.url }}</a></td>
              </tr>
              <tr>
                <th>Promo code</th>
                <td>{{ deal.promo_code }}</td>
              </tr>
              <tr>
                <th>Due date</th>
                <td>{{ deal.due_date }}</td>
              </tr>
              <tr>
                <th>Details</th>
                <td>{{ deal.details|linebreaks }}</td>
              </tr>
            </table>
            <small class="right">Created on: {{ deal.created_date}}</small>
          </div>
          <div class="card-action" style="border-radius: 10px;">
            <a class="modal-trigger btn-floating waves-effect waves-light tooltipped z-depth-2" data-position="left" data-tooltip="Edit platform" href="#editDealModal_{{ deal.id }}"><i class="material-icons">edit</i></a>
            <a class="modal-trigger btn-floating waves-effect tooltipped z-depth-2" data-position="right" data-tooltip="Delete platform" href="#deleteDealModal_{{ deal.id }}"><i class="material-icons">delete</i></a>
          </div>
        </div>
        <div class="card hoverable rounded">
          <div class="card-content">
            <ul class="collection rounded">
              {% for attachment in attachments %}
              <li class="collection-item">
                <div>
                  <a class="modal-trigger secondary-content btn-floating btn-small waves-effect attachment-delete-btn z-depth-2" style="top: 85%; transform: translate(0, -15%);"
                    href="#deleteAttachmentModal_{{ deal.id }}_{{ attachment.id }}">
                    <i class="material-icons">delete</i>
                  </a>
                  <a href="{{attachment.presigned_url}}" download>{{attachment.filename}}</a>
                </div>
              </li>
              <!-- delete attachment modal -->
              <div class="modal modal-fixed-foote deleteAttachmentModal rounded-sm" id="deleteAttachmentModal_{{ deal.id }}_{{attachment.id }}">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="modal-close btn-floating btn-small z-depth-2 right">
                      <span>&#10006;</span>
                    </button>
                    <h4 class="modal-title">Delete <span class="teal-text">{{ attachement.filename }}</span></h4>
                  </div>
                  <form action="{% url 'delete_attachment' deal.id attachment.id %}" method="POST">
                    <div class="modal-body">
                      <h5>Are you sure you want to delete <span class="teal-text">{{ attachment.filename }}</span>?</h5>
                      {% csrf_token %}
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn waves-effect waves-light z-depth-2">Yes - Delete!</button>
                      <a class="modal-close">Cancel</a>
                    </div>
                  </form>
                </div>
              </div>
            {% empty %}
              <div class="teal-text center-align">No Attachment Uploaded</div>
            {% endfor %}
            </ul>
          </div>
          <form action="{% url 'add_attachment' deal.id %}" enctype="multipart/form-data" method="POST" class="card-content">
            {% csrf_token %}
            <input type="file" name="attachment-file" />
            <hr>
            <button type="submit" class="btn-floating btn-small waves-effect waves-light tooltipped z-depth-2" data-position="right" data-tooltip="Upload attachement"><i class="material-icons dp48">file_upload</i></button>
          </form>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6 xl4">
      <div class="card-panel hoverable rounded">
        <div class="row">
          <div class="col s6">
            <span style="font-weight: bold; font-size: 24px;">{{ deal.name }}'s Platforms</span>
            <hr>
            {% if deal.platforms.count %}
              {% for platform in deal.platforms.all %}
              <div class="card rounded rounded">
                <div class="card-content platform-cards">
                  <span class="platform-cards-left">
                    <b>{{ platform.name }}</b>
                  </span>
                  <form class="platform-cards-right" action="{% url 'unassoc_platform' deal.id platform.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn-floating btn-small waves-effect z-depth-2"><i class="material-icons">remove</i></button>
                  </form>
                </div>
              </div>
              {% endfor %}
            {% else %}
              <b>No platforms 😢</b>
            {% endif %}
          </div>
          <div class="col s6">
            <span style="font-weight: bold; font-size: 24px;">Available Platforms</span>
            <hr>
            {% if platforms.count %}
              {% for platform in platforms.all %}
              <div class="card rounded rounded">
                <div class="card-content platform-cards">
                  <form class="platform-cards-left" action="{% url 'assoc_platform' deal.id platform.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn-floating btn-small waves-effect waves-light z-depth-2"><i class="material-icons">add</i></button>
                  </form>
                  <span class="platform-cards-right" >
                    <b>{{ platform.name }}</b>
                  </span>
                </div>
              </div>
              {% endfor %}
            {% else %}
              {% if platformcount == 0 %}
                <b>Go <a href="{% url 'platforms_index' %}">here</a> to add platforms!</b>
              {% else %}
                <b>All platforms has been added! 🎉</b>
              {% endif %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l6 xl4">
      <div class="row">
        <div class="card hoverable rounded">
          <div class="card-content">
            <span style="font-weight: bold; font-size: 24px;">Timeline</span>
            <form action="{% url 'add_activity' deal.id %}" method="POST">
              {% csrf_token %}
              <!-- Render the inputs -->
              {% for field in activity_form %}
              <div class="input-field">
                <label for="id_{{ field.name }}">{{ field.label }}</label> {{ field }}
              </div>
              {% endfor %}
              <button type="submit" class="btn waves-effect waves-light z-depth-2 rounded">Add Activity</button>
            </form>
            <br>
            <ul class="collection rounded">
              {% for activity in deal.activity_set.all %}
                <li class="collection-item">
                  <span class="title"><b>{{ activity.activity }}</b></span>
                  <small>on {{ activity.date }}</small>
                  <a class="secondary-content modal-trigger btn-floating btn-small waves-effect waves-light z-depth-2"
                    href="#deleteActivityModal_{{ deal.id }}_{{activity.id }}"><i class="material-icons">delete</i></a>
                  <br>
                  <p class="activity-notes">{{ activity.notes }}</p>
                </li>
                <!-- delete activity modal -->
                <div class="modal modal-fixed-foote deleteActivityModal rounded-sm" id="deleteActivityModal_{{ deal.id }}_{{activity.id }}">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="modal-close btn-floating btn-small z-depth-2 right">
                        <span>&#10006;</span>
                      </button>
                      <h4 class="modal-title">Delete <span class="teal-text">{{ activity.activity }}</span></h4>
                    </div>
                    <form action="{% url 'delete_activity' activity.id %}" method="POST">
                      <div class="modal-body">
                        <h5>Are you sure you want to delete <span class="teal-text">{{ activity.activity }}</span>?</h5>
                        {% csrf_token %}
                      </div>
                      <div class="modal-footer">
                        <button type="submit" class="btn waves-effect waves-light z-depth-2">Yes - Delete!</button>
                        <a class="modal-close">Cancel</a>
                      </div>
                    </form>
                  </div>
                </div>
              {% empty %}
                <div class="teal-text center-align">Please add some activities!</div>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- edit deal modal -->
  <div class="modal editDealModal rounded" id="editDealModal_{{ deal.id }}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="modal-close btn-floating btn-small teal z-depth-2 right">
          <span>&#10006;</span>
        </button>
        <h4 class="modal-title">Edit <span class="teal-text">{{ deal.name }}</span></h4>
      </div>
      <form action="{% url 'deals_form' deal.id %}" method="POST">
        <div class="modal-body">
          {% csrf_token %}
          {% for field in DealForm %}
  
          {{ field.errors }}
          {% if field.name == "name" %}
            <div class="input-field">
              <label for="id_{{ field.name }}">{{ field.label }} <span style="color:red;">*</span></label>
              <input type="text" name="{{ field.name }}" maxlength="100" required id="id_{{ field.name }}"
                value="{{ deal.name }}">
            </div>
          {% elif field.name == "amount" %}
            <div class="input-field">
              <label for="id_{{ field.name }}">{{ field.label }} <span style="color:red;">*</span></label>
              <input type="number" name="{{ field.name }}" step="0.01" id="id_{{ field.name }}" value="{{ deal.amount }}" required>
              <span class="helptext">
                <i>you can set this as 0, or you may enter the value of the merch you've recieved just make sure to check the box down
                  below!</i>
              </span>
            </div>
          {% elif field.name == "merch" %}
            <label for="id_{{ field.name }}_{{ deal.id }}" style="padding-right: 30px;">
              <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}_{{ deal.id }}" {% if deal.merch %}checked{% endif %}>
              <span>{{ field.label }}</span>
            </label>
          {% elif field.name == "paid" %}
            <label for="id_{{ field.name }}_{{ deal.id }}" style="padding-right: 30px;">
              <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}_{{ deal.id }}" {% if deal.paid %}checked{% endif %}>
              <span>{{ field.label }}</span>
            </label>
          {% elif field.name == "url" %}
            <div class="input-field">
              <label for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="url" name="{{ field.name }}" maxlength="100" id="id_{{ field.name }}" value="{{ deal.url }}">
            </div>
          {% elif field.name == "promo_code" %}
            <div class="input-field">
              <label for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="text" name="{{ field.name }}" maxlength="100" id="id_{{ field.name }}"
                value="{{ deal.promo_code }}">
            </div>
          {% elif field.name == "due_date" %}
            <div class="input-field">
              <label for="id_{{ field.name }}">{{ field.label }}</label>
              <input type="text" name="{{ field.name }}" id="id_{{ field.name }}" value='{{ deal.due_date|date:"M j, Y" }}'
                class="datepicker">
            </div>
          {% elif field.name == "details" %}
            <div class="input-field">
              <label for="id_{{ field.name }}">{{ field.label }}</label>
              <textarea name="{{ field.name }}" cols="40" rows="10" maxlength="500" id="id_{{ field.name }}"
                class="materialize-textarea">{{ deal.details }}</textarea>
            </div>
          {% elif field.name == "done" %}
            <label for="id_{{ field.name }}">
              <input type="checkbox" name="{{ field.name }}" id="id_{{ field.name }}" {% if deal.done %}checked{% endif %}>
              <span>{{ field.label }}</span>
            </label>
          {% else %}
          {% endif %}
          {% endfor %}
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-floating btn-large z-depth-2" type="submit" id="submitDealModalBtn"><i
              class="material-icons">save</i></button>
        </div>
      </form>
    </div>
  </div>
  <!-- delete deal modal -->
  <div class="modal modal-fixed-foote deleteDealModal rounded-sm" id="deleteDealModal_{{ deal.id }}">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="modal-close btn-floating btn-small z-depth-2 right">
          <span>&#10006;</span>
        </button>
        <h4 class="modal-title">Delete <span class="teal-text">{{ deal.name }}</span></h4>
      </div>
      <form action="{% url 'deals_delete' deal.id %}" method="POST">
        <div class="modal-body">
          <h5>Are you sure you want to delete <span class="teal-text">{{ deal.name }}</span>?</h5>
          {% csrf_token %}
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn waves-effect waves-light z-depth-2">Yes - Delete!</button>
          <a class="modal-close">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}