{% extends 'base.html' %} {% block content %}
<div class="container">

  <div class="deal-list-header">
    <h1>Deal List</h1>
    <!-- <a class="btn-floating btn teal modal-trigger" href="#modal1" style="margin-top: 20px;"><i class="material-icons">add</i></a> -->
    <a class="btn-floating btn teal" href="{% url 'deals_create' %}" style="margin-top: 20px;"><i class="material-icons">add</i></a>
  </div>

  <!-- <div class="modal modal-fixed-foote" id="modal1">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Add Deal</h4>
      </div>
      <div class="modal-body">

        
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary modal-close" type="button">Save</button>
        <button class="btn btn-light modal-close" type="button">Close</button>
      </div>
    </div>
  </div> -->
  
  <hr>
  {% for deal in deals %}
    <div class="row">
      <div class="col s4">
        <div class="card">
          <div class="card-content">
            <span class="card-title" style="font-weight:bold;">{{ deal.name }}</span>
            <table class="striped deal-table">
              <tr>
                <th>Amount</th>
                <td>{{ deal.amount }}</td>
              </tr>
              <tr>
                <th>Campaign Url</th>
                <td>{{ deal.url }}</td>
              </tr>
              <tr>
                <th>Promo code</th>
                <td>{{ deal.promo_code }}</td>
              </tr>
              <tr>
                <th>Due date</th>
                <td>{{ deal.due_date }}</td>
              </tr>
              <tr>
                <th>Details</th>
                <td>{{ deal.details|linebreaks }}</td>
              </tr>
              <tr>
                <th>Done</th>
                <td>
                  {% if deal.done %}
                    <span style='font-size:15px;'>✔️</span>
                  {% else %}
                    <span style='font-size:15px;'>❌</span>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <th>Created date</th>
                <td>{{ deal.create_date }}</td>
              </tr>
            </table>
          </div>
          <div class="card-action">
            <a href="{% url 'detail' deal.id %}">View Deal</a>
          </div>
        </div>
      </div>
    </div>
</div>
{% endfor %} {% endblock %}
